{% extends 'base.html' %}


{% block content %}
  <header class="bg-dark py-3" xmlns="http://www.w3.org/1999/html">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Brands</h1>
        <p class="lead fw-normal text-white-50 mb-0">Choose your desired brand</p>
      </div>
    </div>
  </header>
  
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        {% for category in categories %}
            

            <div class="col mb-5">
                <div class="card h-100">

                    
                    <!-- Category image-->
                    <img class="card-img-top" src="{{ category.cat_image.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ category.name }}</h5>
                            
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                    href="{% url 'category' category %}">View Brand Products</a></div>
                    </div>
                </div>
            </div>

            
         
            {% endfor %}

        </div>
        </div>
</section>

{% endblock %}
