{% extends 'base.html' %}

{% block content %}
<div class="container">
    </br>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <center>
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text"> {{ product.description }}</p>

              {% if product.is_sale %}
                <strike> ${{ product.price }} </strike>
                    &nbsp;

              ${{ product.sale_price }}



              {% else %}
                    ${{ product.price }}
              </br>
              ID: {{product.id}}
              {% endif %}

              </br> </br>
              <a href="{% url 'home' %}" class="btn btn-primary"> Go Back </a>
              <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add to Cart</button>
          </center>
      </div>

      </div>
    </div>
  </div>
</div>


<script>

    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
             type: 'POST',
             url: '{% url 'cart_add' %}',
             data: {
                product_id: $('#add-cart').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
             },

             success: function(json){
                //console.log(json) 

                document.getElementById("cart_quantity").textContent = json.qty
             },
             error: function(xhr, errmsg, err){
                console.error(xhr.status + ": " + xhr.responseText);

             }
        });
    });     
</script>

{% endblock %}