{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-3" xmlns="http://www.w3.org/1999/html">
            <div class="container px-4 px-lg-5 my-3">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Update Information</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Tell us about yourselves</p>
                </div>
            </div>
        </header>


<div class="container">
            <div class="row">

                    <div class="col-md-6 offset-md-3" ></br>
                        <strong> Billing Information </strong>
<form method="post" action="{% url 'update_info' %}">
    {% csrf_token %}
 
    {{ form.as_p }}
    <br></br>
    <strong>Shipping Information</strong>
    {{ shipping_form.as_p}}
    <br/><br/>
    <button type="submit" class="btn btn-secondary"> Add Information </button>



</form>
</br>


                    </br> </br></br> </br></br> </br></div></div></div>
{% endblock %}