{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-3" xmlns="http://www.w3.org/1999/html">
            <div class="container px-4 px-lg-5 my-3">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Modify your Password </h1>
                    <p class="lead fw-normal text-white-50 mb-0">Change your credentials</p>
                </div>
            </div>
        </header>


<div class="container">
            <div class="row">

                    <div class="col-md-6 offset-md-3" ></br>
<form method="post" action="{% url 'update_password' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <br/><br/>
    <button type="submit" class="btn btn-secondary"> Update Password </button>



</form>

                    </br> </br></br> </br></br> </br></div></div></div>
{% endblock %}