
{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-2">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Checkout</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Review your order</p>
                </div>
            </div>
        </header>
        <!-- Section-->
    </br>
    <div class="container">
        <div class="row">
        <div class="col-md-6 offset-md-3" >
            <div class="card">
                <div class="card-header">
                  Order Summary
                </div>
                <div class="card-body">
                    {% for product in cart_products %}
                        {{ product.name }}:
                        {% if product.is_sale %}
                        ${{ product.sale_price }}
                        {% else %}
                        ${{ product.price }}
                        <br/>
                        {% endif %}
                        <small>Quantity:</small>
                        {% for key, value in quantities.items %}
                        {% comment %} slugify helps to convert the string to int as the dict has string value {% endcomment %}
                            {% if key == product.id|slugify %} 
                            {{ value }}
                            {% endif %}
                        {% endfor %}  
                        
                </br> </br>
                       {% endfor %}
                      <strong> Total : {{ totals }} </strong>
                      <br/> <br/>
                      <a href='{% url 'cart_summary' %}' class='btn btn-sm btn-outline-secondary'>Update items </a>
                </div>
              </div>

            </br></br>
            <div class="card">
                <div class="card-header">
                  Shipping Info
                </div>
                <div class="card-body">
                 {{ shipping_form.as_p }}
                </div>
              </div>
            </br>

              <a href="" class='btn btn-secondary'> Continue to billing </a>
      
                </div> </div></br></div>



{% endblock %}